.body {
  font-family: 'Dosis', sans-serif;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}


.journalheader {
  background-color: darkgray;
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}


.h1header {
  font-family: 'Dosis', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.subhead {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.WSJTheme--share-tools-menu-eKMiCvpBJ0S8PCKRePNjC {
    border: 1px solid #ebebeb;
    background: #fff;
    height: auto;
    width: 50px;
    padding: 9px 0;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 9;
    display: block;
}

.caption {
  font-size: 14px;
  display:  block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.responsive {
  width: 100%;
  height: auto;
}

.img {
  max-width: 100%;
  height: auto;
}

.h1 {
  font-style: italic;
  font-size: 40px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.p {
  font-size: 20px;
}

.responsive {
  max-width: 400px;
  height: auto;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

